# Visual Studio
.vs/
*.user
*.suo

# Compiled binaries
bin/
obj/
*.exe
*.dll
*.pdb
*.vshost.*
*.cache
*.log
*.xml

# Others
*.dbmdl
*.bak
*.zip
*.tmp

bin/
obj/
.vs/
curso_01/bin/
curso_01/obj/
*.exe
*.vshost.*
*.xml

curso_01/config/conexion.txt

config/conexion.txt
config/conexion.txt
/config
config/conexion.txt
